.scrolls {
    overflow-y: hidden;
    white-space:nowrap;
}

.modulebook{
	position: relative;
	width:19%;
	height:100%;
	padding:100px 30px 0px 30px;
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0*/
    transition: all 0.3s;
  	z-index: 10;
  	word-wrap:break-word;
}

.modulebook:hover {
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	z-index: 20;
}


.modulebook p, .modulebook h1, .modulebook h2{
	white-space: pre-line;
}

.modulebook div {
	vertical-align: bottom;
	bottom:10px;
}

.modulebook footer{
	position: absolute;
	bottom:30px;
}

#backboard {
	position: absolute;
	background-color: rgb(230,230,230);
	float:left;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#backboard p{
	font-size:70px;
}


body {
	background-color: black;
}

#review-modal {
	color:black;
}

#wrapper.toggled #sidebar-wrapper div, #wrapper.toggled #sidebar-wrapper hr {
	opacity: 0.0;
}

#sidebar-toggle-area {
	height: 100%;
	min-height: 100px;
	min-width: 10px;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 20;
}

#sidebar-friends{
	white-space: normal;
	padding-top: 40px;
	position:fixed;
	z-index:10;
	right:0;
	top:52px;
	width: 40px;
	height: 100%;
}

#sidebar-friends h1{
	display: inline;
}

#sidebar-friends h2{
	font-size: 20px;
}

#sidebar-friends:hover{
	width: 170px;
	padding-left: 5px;
	padding-right: 5px;
}

#sidebar-friends img{
	border-radius:50%; 
}

#sidebar-friends div, #sidebar-friends h2{
	opacity: 0;
}

#sidebar-friends:hover div, #sidebar-friends:hover h2{
	opacity: 1;
}

#sidebar-friends:hover h1{
	display: none;
}

#page-content-wrapper {
	padding-top: 52px;
} 


/******************sliding panel*****************/


#review-container {
	height: 100%;
	padding:0 auto;
}


#review-container button{
	display:inline;
}

#main-container {
	position: relative;
	left:120px;
	height: 100%;
	padding: 0 auto;
}

.data-box {
	display:block;
	background-color: rgba(250,250,250,0.9);
	border:0;
	margin: 30px;
    white-space:normal;
    color:black;
    box-shadow: 0px 10px 10px rgb(10,10,10);
    min-height: 50px;
}

.data-box p{
    padding:20px 20px 40px;
}

.over {
	position: absolute;
	color: transparent;
	text-align: center;
	vertical-align:middle;
	font-size:10px;
	z-index: 20;
	-webkit-transition: all 0.3s;
    /* Standard syntax */
    transition: all 0.3s;
    opacity: 0;
}

.over span {
	font-size:40px;
	margin: 0  10px;
	position: relative;
	top:20px;
	padding: 10px;
}

.over p {
	text-align: center;
	font-size:15px;
	position: relative;
	top:-6px;
	font-weight: 200;
}


.over span:hover {
	font-size: 50px;
	padding: 5px;
}



.over:hover {
	color:white;
	text-shadow: 2px 2px 2px grey;
}


.carousel-control {
	vertical-align: center;
	position: absolute;
}

.carousel-control.left span {
	font-size: 80px;
}

.carousel-control.right span {
	font-size: 80px;
}

.carousel-control.left{
	left: 20px;
}

.carousel-control.right{
	right:20px;
}

.carousel-control.disabled {
	opacity: 0.2;
	cursor: default;
}



#box-container {
	height:80%;
}

.carousel-indicators {
	bottom:20px;
	opacity: 0.7;
}

.circle {
	width:40px;
	height:40px;
	border-radius:20px;
	color:#FFF;
	background:#FFF;
	position:fixed;
	bottom: 100px;
	right: 100px;
	display: table;
	box-shadow: 0px 2px 2px #888888;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.circle:hover{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	box-shadow: 0px 4px 3px #888888;
	cursor: pointer;
}

.circle span{
	position: static;
	top: 20px;
	display: table-cell;;
	text-align:center;
	vertical-align: middle;
	top: 50%;
	font-size: 20px;
	color:#555;
}

.circle.empty {
	border:2px solid;
	top: 100px;
	right: 100px;
	background: transparent;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
	box-shadow: none;

}

.circle.empty span{
	color:white;
}