/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 5;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#sidebar-module {
    width:60px;
    height:100%;
    padding:80px 0px 0px 0px;
    vertical-align:top;
    display:inline-block;
    z-index: 10;
}

#sidebar-module h1, #sidebar-module span {
    opacity: 0.0;
    -webkit-transition: opacity 0.4s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.4s;
    float:right;
}

#sidebar-module span {
    font-size: 20px;

}

#sidebar-module h1{
    padding-top: 70px; 
}


#wrapper.toggled #sidebar-module h1, #wrapper.toggled #sidebar-module span {
    opacity: 1.0;
}

#sidebar-wrapper div,hr {
    opacity: 1.0;
    -webkit-transition: opacity 0.4s;  /*For Sfari 3.1 to 6.0 */
    transition: opacity 0.4s;
}


#sidebar-friends{
    white-space: normal;
    padding-top: 40px;
    position:fixed;
    z-index:10;
    right:0;
    top:52px;
    width: 40px;
    height: 100%;
    -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.3s;
}

#sidebar-friends h1{
    display: inline;
}

#sidebar-friends h2, #sidebar-friends span{
    font-size: 20px;
}

#sidebar-friends:hover{
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
}

#sidebar-friends img{
    border-radius:50%; 
}

#sidebar-friends div, #sidebar-friends h2{
    opacity: 0;
}

#sidebar-friends:hover div, #sidebar-friends:hover h2{
    opacity: 1;
}

#sidebar-friends:hover h1{
    display: none;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}